<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="echoService" availability="mandatory" interface="me.juang.hello.api.EchoService"></reference>
    
    <bean id="hello-client-blueprint" class="me.juang.hello.client.internal.EchoClientBlueprint" 
        init-method="StartUp" destroy-method="ShutDown">
        <property name="echoBlueprint" ref="echoService"></property>
    </bean>

</blueprint>
